
	

	.imgPrincipal{
	width: 100%;
	height: auto;
	
	border-radius: 20px;
	 transition: 0.5s;
    margin-top: 20px;
	}
	

.imgPrincipal:hover{
 
    
transform: scale(0.9);

}

.acomodandoImg{
	@extend .globo2;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}